@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.intro_text{
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 8vh;
    margin: auto;
    animation: intro_text_fade_in 1.5s forwards;
}
@keyframes intro_text_fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}