@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
.repo_title{
    font-size: 1cm;
    margin-top: 15px;
    font-family: 'Hubballi', cursive;
}
.repo_total_count_text{
    font-size: 1cm;
    margin-top: 15px;
    margin-left: 40%;
    font-family: 'Hubballi', cursive;
}
.repo_divide_line{
    width: 100%;
    height: 1.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(127, 127, 146);
}
.repo_frame{
    width: 75%;
    border: 1px solid rgba(1,1,1,0.5);
    margin-left: 12.5%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    animation: InfoFadeInAnimation 1.5s forwards;
}
.repo_info{
    width: 70%;
    margin-left: 15%;
    height: 50px;
    background-color: hsl(204, 66%, 89%);
    box-shadow: 1px 1px 1px rgba(1,1,1,0.5);
    margin-top: 5px;
    margin-bottom: 5px;
    position: static;
}
.repo_info:hover{
    animation: InfoHoverAnimation 0.4s forwards;
    background-color: rgb(217, 246, 255);
    cursor: pointer;
}
.repo_number{
    font-size: 0.5cm;
    color: rgb(65, 65, 65);
    font-family: 'Hubballi', cursive;
    font-weight: 900;
}
.repo_name{
    font-size: 0.5cm;
    color: rgb(65, 65, 65);
    margin-left: 10%;
    margin-top: 2.5vh;
    font-weight: 900;
    font-family: 'Hubballi', cursive;
}
.repo_stargazers_count{
    font-size: 0.75cm;
    color: rgb(65, 65, 65);
    font-weight: 900;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2vh;
}
.repo_error_body{
    width: 100%;
    height: 300px;
}
.repo_error_text{
    font-size: 1.2cm;
    color: rgb(65, 65, 65);
    font-family: 'Hubballi', cursive;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.repo_error_img{
    width: 128px;
    height: 128px;
    margin: auto;
}

@keyframes InfoFadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes InfoHoverAnimation {
    0%{
        width: 70%;
        height: 50px; 
        margin-left: 15%;
    }
    100%{
        width: 75%;
        height: 55px;
        margin-left: 12.5%;
    }
}