@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
.repo_page_backButton{
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-left: 5%;
    margin: auto;
}
.repo_page_name{
    font-size: 0.75cm;
    color: rgb(49, 49, 65);
    margin: auto;
    text-align: center;
    font-family: 'Hubballi', cursive;
}
.repo_page_stargazers_count{
    font-size: 0.75cm;
    color: rgb(132, 143, 101);
    text-align: center;
    margin: auto;
    font-family: 'Hubballi', cursive;
}
.repo_page_body{
    width: 100%;
    height: 400px;
    margin-top: 2.5%;
    animation: InfoFadeInAnimation 1.5s forwards;
}
.repo_page_divide_line{
    width: 100%;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
}
.repo_page_description_text{
    font-size: 1cm;
    color: rgba(0, 0, 0);
    margin-left: 2.5%;
    padding: 15px;
    font-family: 'Hubballi', cursive;
}
.repo_page_description_inner{
    width: 80%;
    margin-left: 10%;
    height: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.7cm;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Hubballi', cursive;
}
.repo_page_hyperlink{
    font-size: 0.7cm;
    font-family: 'Hubballi', cursive;
    text-align: center;
    color: #5caffd;
}
@keyframes InfoFadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}